.red{
    background-color: var(--color-red);
   }

.condition-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tableStyle {
    display: table;
    width: 100%;
}

.roundHeader {
    width: 50%;
    display: table-cell;
}

.villainsButton {
    margin-left: 5px;
}

.maliceHeader {
    width: 50%;
    display: table-cell;
}

.activatedButton {
    color: var(--interactive-accent);
}

.green {
    background-color: var(--color-green);
}
   
.Centered{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.fill{
    height: 90%;
    width: 90%;
}

.padded-input {
    margin: 5px;
}

.rightAlign {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
.leftAlign {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.bottomSpace {
    margin-bottom: 5px;
}

.headerButtonLeft {
    margin-left: 5px;
    margin-right: 1px;
}
.headerButtonRight {
    margin-left: 1px;
    margin-right: 5px;
}

.padded {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    width: 90%;
}

.stamina-Cell {
    width:  20%;
}

.fullScreen {
    width: 100%;
}

.heroes {
    border-color: var(--color-green);
    border-width: 2px;
}

.villains {
    border-color: var(--color-red);
    border-width: 2px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.name-Cell {
    width: 400px;
}
.slimButton{
    margin: 1px;
    padding: 10px, 0px, 0px, 0px;
    background-color: transparent;
}