.Acted{
    background-color: var(--color-red);
   }
   
.Centered{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.Base{
   
   }
   
.Dead{
       background-color: gray;
   }