.red{
    background-color: var(--color-red);
   }


.hideStyle{
    display: none;
}
.thirdWidth{
    width: 33%;
}
.fullWidth{
    width: 100%;
}

.condition-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tableStyle {
    display: table;
    width: 100%;
}
.tableRowStyle{
    display: table-row;
}
.flex {
    display: flex;
}
.tableCell {
    display: table-cell;
}
.adjustInitiativeHeaderButton{
    margin-top: 15px;
    margin-left: 5px;
}
.roundHeader {
    width: 50%;
    display: table-cell;
}

.villainsButton {
    margin-left: 5px;
}

.maliceHeader {
    width: 50%;
    display: table-cell;
}

.activatedButton {
    color: var(--interactive-accent);
}
.renameButton {
    width: 20px;
}
.fontFifteen {
    font-size: 15px;
}
.green {
    background-color: var(--color-green);
}
   
.Centered{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.fill{
    height: 90%;
    width: 90%;
}

.padded-input {
    margin-left: 5px;
    margin-bottom: 5px;
}

.rightAlign {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
.leftAlign {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.bottomSpace {
    margin-bottom: 5px;
}

.headerButtonLeft {
    margin-left: 5px;
    margin-right: 1px;
}
.headerButtonRight {
    margin-left: 1px;
    margin-right: 5px;
}

.twentyPixelHeight{
    height: 20px;
}

.interactiveColor {
    background-color: var(--interactive-normal);
    box-shadow: var(--input-shadow);
}

.padded {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    width: 90%;
}

.stamina-Cell {
    width:  20%;
}

.fullScreen {
    width: 100%;
}

.heroes {
    border: 2px solid var(--color-green);
}

.villains {
    border: 2px solid var(--color-red);
}

.trackerTableStyle{
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
.trackerTableCellStyle {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}
.trackerCellButtonStyle {
    height: 55px;
    color: var(--color-base-00);
    background-color: transparent;
    font-weight: bolder;
    width: 100%;
}
.trackerCellRemoveButtonStyle {
    text-align: center;
    height: 55px;
    color: var(--color-red);
    margin-bottom: -20px;
}

.name-Cell {
    width: 400px;
}

.verticalType {
    transform: translate(-8%) rotate(-90deg) translate(-14px) ;
    margin: -18px;
    width: 57px;
    font-weight: bold;
    margin-bottom: 5px;
}

.slimButton{
    margin: 1px;
    padding: 10px, 0px, 0px, 0px;
    width: 18px;
    height: 18px;
    background-color: transparent;
}